//IMPORTS

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

//VARIABLES+MIXINS

@media only all and (min-width: 0) {
  body{
    background: rgb(39,22,33);
    background: linear-gradient(360deg, rgba(39,22,33,1) 25%, rgba(146,70,105,1) 100%);
  }
}
@media only all and (min-width: 760px) {
}
@media only all and (min-width: 992px) {
}
@media only all and (min-width: 1200px) {
}