//IMPORTS
@import "index";


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

//VARIABLES+MIXINS

@media only all and (min-width: 0) {
  main{
    section{
      height: 100vh;
      overflow: hidden;
      display:flex;
      align-items: center;
      justify-content: center;
      figure#landingFigure{
        z-index: 1;
        width: 100vw;
        max-width: 25rem;
        margin: 0 auto;
        position:relative;
        img{
          width: 100%;
          position: absolute;
          top:0;
          bottom:0;
          margin: auto 0;
          // animation-name: fadeIn;
          animation-duration:5s;
          // animation-direction:alternate;
          // animation-timing-function: ;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          transition: opacity 5s;
        }
        img#imgA{
          // animation-name:fadeOut;
        }
        img#imgB{
          // opacity:0;
          // animation-name:fadeIn;
        }
        img.fadeOut{
          opacity: 1;
          // animation-name:fadeOut;
        }
        img.fadeIn{
          opacity:0;
          // animation-name:fadeIn;

        }

        @keyframes fadeOut{
          0%{opacity:1}
          50%{opacity:1}
          100%{opacity:0}
        }
        @keyframes fadeIn{
          0%{opacity:0}
          50%{opacity:0}
          100%{opacity:1}
        }


        // @keyframes fadeIn {
        //   0%{opacity:0;}
        //   50%{opacity: 1;}
        //   100%{opacity: 1;}
        // }
        // @keyframes fadeOut{
        //   0%{opacity:1;}
        //   50%{opacity: 1;}
        //   100%{opacity: 0;}
        // }
      }
    }
    ul{
      position: absolute;
      z-index: 2;
      bottom:2.5rem;
      width: 100%;
      li.button_A{
        @include button_A;
        width: 75%;
        margin: 1.5rem auto;
        a:link, a:visited{
        }
      }
    }
  }
}
@media only all and (min-width: 760px) {
  main{
    section{
      figure#landingFigure{
        z-index: 1;
        // width: 100%;
        max-width: 30rem;
        margin: 0 -2.5rem 0 auto;
        img{
          width: 100%;
        }
      }
    }
    ul{
      position: absolute;
      bottom: 5rem;
      width: 100%;
      li.button_A{
        @include button_A;
        width: 40%;
        margin: 1.5rem auto;
        justify-content: flex-start;
        margin: 1.5rem auto 1.5rem 4rem;
        font-size: 2rem;
        transition: all 0.5s;
        a:link, a:visited{
        }
        &:hover, &:active, &:focus{
          margin-left: 7.5rem;
        }
      }
    }
  }
}
@media only all and (min-width: 992px) {
  main{
    section{
      figure#landingFigure{
        z-index: 1;
        // width: 100%;
        max-width: 40rem;
        margin: 15rem -5rem 0 auto;
        img{
          width: 100%;
        }
      }
    }
    ul{
      position: absolute;
      bottom: 5rem;
      width: 100%;
      li.button_A{
        @include button_A;
        width: 40%;
        margin: 1.5rem auto;
        justify-content: flex-start;
        margin: 1.5rem auto 1.5rem 4rem;
        font-size: 2rem;
        a:link, a:visited{
        }
      }
    }
  }
}
@media only all and (min-width: 1200px) {
  main{
    section{
      figure#landingFigure{
        z-index: 1;
        // width: 100%;
        max-width: 80rem;
        margin: 40rem -15rem 0 auto;
        img{
          width: 100%;
        }
      }
    }
    ul{
      position: absolute;
      bottom: 5rem;
      width: 100%;
      li.button_A{
        @include button_A;
        width: 40%;
        margin: 1.5rem auto;
        justify-content: flex-start;
        margin: 1.5rem auto 1.5rem 4rem;
        font-size: 2rem;
        a:link, a:visited{
        }
      }
    }
  }
}